<footer class="footer">
      <div class="container">
        <p class="text-muted">Matpriser.nu</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="vendor/bootstrap/dist/js/ie10-viewport-bug-workaround.js"></script>
    <script src="dist/js/site-min.js"></script>

  </body>
</html>