<div class="helbild">
   <img class="img-responsive" src="dist/image/mat1.jpg" alt="Matbild">
</div>
    
<div class="container">
      <!-- Main component for a primary marketing message or call to action -->
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 botten-20">
        <h1>Om matpriser.nu</h1>
        <!--form class="form-inline">
          <div class="form-group has-feedback">
            <input type="text" class="form-control varusok" id="exampleInputName2" placeholder="Skriv varan du söker pris på här...">
            <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
          </div>
        </form-->
        </div>
      </div>
      <div class="row ">
        <div class="col-sm-8 col-sm-offset-2">
          <p class="ingress">Matpriser.nu jämför priset på mat från de stora aktörerna på marknaden. Dagligen uppdaterar vi vår statistik över vad olika matvaror kostar så att du kan hitta den billigaste maten på nätet. Ofta skiljer det mycket i pris mellan butikerna, trots att det är samma vara som du får hem till köket. </p>
            <p>Stora förändringar har skett de senaste åren för oss som gillar mat, eller bara behöver handla nåt att laga till middag. Nu kan man sitta hemma vid datorn och beställa allt från grönsaker och fisk till komplett fredagsmys. Många väljer färdiga matkassar – och det finns ett stort utbud av dessa – för att på ett enkelt sätt få en varierad middagsmat, utan att behöva tänka så mycket själv på vad man ska laga. Matkassarna finns till varierande priser, från 299 till 699 kr för fem middagar för en familj och med olika inriktning – hälsokassar, barnkassar, ekomat med mera. Det som kommit de senaste åren i ökande grad är rena nätbutiker för mataffärerna och alla de stora erbjuder nu sitt utbud online. Antingen kan man få matkassen hopplockad för avhämtning och spara tid, eller få maten hemkörd.</p>
            <p>Vad många inte vet är att det finns pengar att tjäna genom att jämföra var det är billigast att handla sin mat på nätet! Och det är stora skillnader i pris mellan olika affärer – på exakt samma mat, råvara eller ingrediens.</p>
            <p>Matpriser.nu har gjort en jämförelse mellan de stora onlinebutikerna som erbjuder mat för hemkörning och för vissa varor skiljer priset mer än 20%. Trots att det är exakt samma knäckebröd eller falukorv de säljer. Du kan spara mycket pengar genom att handla där det är billigast. Det gäller ekologiska och KRAV-märkta råvaror såväl som lågprissortimentet.</p>
            <p>Vi hoppas att vår tjänst kan bidra till att fler lagar god sund och varierad mat med varor som köpts till det bästa priset.</p>
            <hr/>
        <p class="text-left"><div class="fb-share-button" data-href="http://www.matpriser.nu" data-layout="button"></div> <span class="dela"><a href="https://twitter.com/share" class="twitter-share-button"{count} data-url="http://www.matpriser.nu" data-text="Kolla på sidan Matpriser.nu!" data-hashtags="matpriser.nu">Tweet</a></span>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
        </div>
        
      </div>
      

    </div>