<h3>Hämtningar</h3>
<ul>
{{#each objects}}
	<li><h5>{{timestamp}}</h5><a class="button" href="/admin/view/{{batch}}/raw">Raw</a><a style="margin-left:5px" class="button" href="/admin/view/{{batch}}/clean">Clean</a></li>
	{{/each}}
</ul>

<div style="margin-top:20px"><a href="/fetch" class="btn btn-default">Hämta data</a></div>