    <!-- Main component for a primary marketing message or call to action -->
      <div class="row">
        <div class="col-sm-12 extrab">
        <h1>Om jämförelsen av matpriser</h1>
        <!--form class="form-inline">
          <div class="form-group has-feedback">
            <input type="text" class="form-control varusok" id="exampleInputName2" placeholder="Skriv varan du söker pris på här...">
            <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
          </div>
        </form-->
        </div>
      </div>
      <div class="row ">
        <div class="col-sm-12 ">
          <p>Vi jämför löpande priset på utvalda matvaror och ingredienser från stora butiker som coop, ica, mat.se och mathem.se så att du kan hitta det bästa priset när du beställer mat på nätet.</p>

<p>Varje år sedan över tjugo år tillbaka redovisar PRO sin årliga prisundersökning, som mäter priset på vanliga matvaror - en vanlig matkasse - lokalt, regionalt och på riksnivå. Syftet med PROs undersökning är att uppmärksamma priserna och öka prismedvetenheten hos PROs medlemmar och allmänheten.</p>

<p>PROs undersökning är landsomfattande och mycket stor. Ingen annan prisundersökning har tillnärmelsevis samma omfattning. Förrän nu - matpriser.nu tar prisjämförelsen ett steg till, och jämför priset på mat mellan nätbutikerna. </p>
            
        </div>
        