 <!-- Main component for a primary marketing message or call to action -->
      <div class="row">
        <div class="col-sm-12 extrab">
        <h1>Nyheter</h1>
        <!--form class="form-inline">
          <div class="form-group has-feedback">
            <input type="text" class="form-control varusok" id="exampleInputName2" placeholder="Skriv varan du söker pris på här...">
            <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
          </div>
        </form-->
        </div>
      </div>
      <div class="row ">
        <div class="col-sm-12 ">
          <p>Hösten 2015 lanserades den nya webbsajten matpriser.nu som jämför priset på mat och visar var det är billigast att beställa middagen på nätet. Matpriser.nu är banbrytande i det att den inte bara jämför färdiga matkassar som t.ex. Linas matkasse och de matkassar som erbjuds av t.ex. Coop, Ica med flera, utan redovisar även priset på enskilda varor - allt ifrån frukt och grönt till mejeri, bageri och chark. Du kan själv plocka ihop din matkasse och sen se var det är bäst pris på maten i de olika online-butikerna. Som ett första steg visar vi PROs årliga matkasse och hur mycket det skulle kosta att beställa den från de olika matbutikerna på nätet.</p>

<p>Under de närmaste veckorna kommer vi successivt att utöka funktionerna som du som användare kan komma åt på sidan. Skriv upp dig på vårt nyhetsbrev så håller vi dig uppdaterad.
</p>
            
        </div>